<html>
	<head>
		<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
	</head>
	<body>
		<div> 
			<h1> Acme Products SQL  </h1>
			<h6> <a href='https://github.com/patspeiser/acme-sql' target='blank'> by Pat Speiser </a> </h6>
		</div> 
		<div role='navigation' class='container'>
			<ul class='nav nav-tabs'>
				<li {% if !category %} class='active'{% endif %} role='presentation'> 
					<a href='/'> Home </a> 
				</li> 
				{% for _category in categories %}
					<li {% if _category.id == category %} class='active' {% endif %} role='presentation'>
						<a href='/categories/{{_category.id}}'> {{ _category.name }} </a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div>
			{% block content %}
			{% block %}
		</div>
	</body>
</html>
